In [2]:
pip install pandas-datareader

Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     -------------------------------------- 109.5/109.5 kB 3.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.23 in c:\users\ana\anaconda3\lib\site-packages (from pandas-datareader) (1.5.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\ana\anaconda3\lib\site-packages (from pandas-datareader) (2.28.1)
Requirement already satisfied: lxml in c:\users\ana\anaconda3\lib\site-packages (from pandas-datareader) (4.9.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ana\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ana\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\ana\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2022.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ana\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ana\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ana\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ana\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: six>=1.5 in c:\users\ana\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Installing collected packages: pandas-datareader
Successfully installed pandas-datareader-0.10.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas_datareader.data as web
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
data= web.DataReader('AAPL','stooq')

In [7]:
data

                Open      High       Low     Close        Volume
Date
2023-06-20  184.4100  186.1000  184.4100  185.0100  4.979909e+07
2023-06-16  186.7300  186.9900  184.2700  184.9200  1.012562e+08
2023-06-15  183.9600  186.5200  183.7800  186.0100  6.543317e+07
2023-06-14  183.3700  184.3900  182.0200  183.9500  5.746288e+07
2023-06-13  182.8000  184.1500  182.4400  183.3100  5.492913e+07
...              ...       ...       ...       ...           ...
2018-06-28   44.1104   44.6179   44.0396   44.4505  7.247152e+07
2018-06-27   44.3856   44.8782   44.0945   44.1244  1.055250e+08
2018-06-26   43.8493   44.6937   43.7415   44.1912  1.025363e+08
2018-06-25   43.9460   44.3108   43.3030   43.6499  1.321418e+08
2018-06-22   44.5979   44.6059   44.2560   44.3108  1.135175e+08

[1256 rows x 5 columns]

In [13]:
lista = data
for elemento in lista:
    if isinstance(elemento, int) and elemento <= 20:
        print ('comprar')
    else:
        print('não comprar')

não comprar
não comprar
não comprar
não comprar
não comprar

In [14]:
from functools import reduce
numeros = data["Volume"]
somas_dos_numeros = reduce(lambda x, y: x + y, numeros )
print (somas_dos_numeros)

141194907816.05814

In [15]:
inicio = dt.datetime(2018,1,1)
fim = dt.datetime.now()
data = web.DataReader('AAPL','stooq', inicio, fim)

soma_da_coluna = data ['Open']
resultado = sum(soma_da_coluna)
print(resultado)

140385.70309999998

In [22]:
inicio= dt.datetime(2018,3,8)
end=dt.datetime.now()
data=web.DataReader('AAPL','stooq', inicio, fim)
median= data%2==0
print(median)

             Open   High    Low  Close  Volume
Date
2023-06-21  False  False  False  False   False
2023-06-20  False  False  False  False    True
2023-06-16  False  False  False  False   False
2023-06-15  False  False  False  False    True
2023-06-14  False  False  False  False    True
...           ...    ...    ...    ...     ...
2018-03-14  False  False  False  False   False
2018-03-13  False  False  False  False   False
2018-03-12  False  False  False  False   False
2018-03-09  False  False  False  False   False
2018-03-08  False  False  False  False   False

[1331 rows x 5 columns]